{% extends "base.html" %}
{% block add %}

<form class="form-horizontal" enctype="multipart/form-data" action="/add/" method="POST">
	{% csrf_token %}
	<fieldset>
	<legend>Add Document</legend>
<!-- {{ form.as_p }} -->
	{% for adddoc in form_addDocument %}

		{% if adddoc.name == "name" %}
		<div class="form-group">
	  		<label class="col-md-4 control-label" for="textinput">Document Name</label>  
		  	  <div class="col-md-4">
				  <input name="{{ adddoc.name }}" id="id_{{ adddoc.name }}" type="text" placeholder="Document" class="form-control input-md">
		  	</div>
		</div>
		{% elif adddoc.name == "description" %} 
		<div class="form-group">
		    <label class="col-md-4 control-label" for="textarea">Document description</label>
			  	<div class="col-md-4">                     
			    	<textarea name="{{ adddoc.name }}" id="id_{{ adddoc.name }}" class="form-control" >Document description...</textarea>
				</div>
		</div>

		{% elif adddoc.name == "doc_file" %} 
		<div class="form-group">
			  <label class="col-md-4 control-label" for="filebutton">File Document</label>
			  	<div class="col-md-4">
			    	<input name="{{ adddoc.name }}" id="id_{{ adddoc.name }}" class="input-file" type="file">
			  	</div>
		</div>

		{% elif adddoc.name == "send_Department" %} 
		<div class="form-group">
			<label class="col-md-4 control-label" for="selectmultiple">Send To Department</label>
				<div class="col-md-4">
				    <select name="{{ adddoc.name }}" id="id_{{ adddoc.name }}" 
				    class="form-control" >
						{% for department_name in Depart  %}
				        <option value="{{ department_name.id }}">{{ department_name.department_Name}}</option>
				        {% endfor %}
				    </select>
				</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label" for="singlebutton">Send</label>
				<div class="col-md-4">
				   <button id="singlebutton" name="singlebutton" class="btn btn-primary">Send</button>
			 	</div>
		</div>
		{% endif %} 
		{% endfor %}
		

		 
	</fieldset>
</form>




{% endblock %}