<!DOCTYPE html>

<html>
<head>
	{% load static %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="{% static 'js/index.js' %}"></script>

       
</head>
<body>


<nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
                <div class="navbar-toggler animate">
                        <span class="menu-icon"></span>
                </div>
                <ul class="navbar-menu animate">
                        {% if not request.user.is_authenticated %}
                        <li>
                                <a href="/login/" class="animate">
                                        <span class="desc animate"> Login </span>
                                        <span class="fa fa-sign-in"></span>
                                </a>
                        </li>
                        <li>
                                <a href="/register/" class="animate">
                                        <span class="desc animate"> Register </span>
                                        <span class="fa fa-user-plus"></span>
                                </a>
                        </li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                         <li>
                                <a href="/" class="animate">
                                        <span class="desc animate"> Homa Page </span>
                                        <span class="fa fa-home"></span>
                                </a>
                        </li>
                        <li>
                                <a href="/logout/" class="animate">
                                        <span class="desc animate"> Logout </span>
                                        <span class="fa fa-sign-out"></span>
                                </a>
                        </li>
                        {% endif %}
                </ul>
        </nav>


	{% block register %}{% endblock %}
	{% block login %}{% endblock %}
	{% block index %}{% endblock %}





</body>

</html>