{% extends "base.html" %}
{% block index %}


{% if request.user.is_authenticated %}
<div class="container" style="margin-top: 70px;">

<div class="hidden-xs col-sm-3">
        <div class="fading-side-menu" data-spy="affix" data-offset-top="350">
            <h5>Document Table</h5><hr class="no-margin">
            <ul class="list-unstyled">  
              {% for document in user_documents %}
                <li>
                    <a href="#{{document.name}}">
                        <span class="fa fa-angle-double-right text-primary"></span>{{document.name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
	<div class="col-sm-9" >



    <ul class="timeline">
    {% for document in user_documents %}
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title" id="{{document.name}}">{{document.name}}</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{document.createtime}} By:{{document.user}}</small></p>
            </div>
            <div class="timeline-body">
              <p>{{document.description}}</p>
              <hr>
              <div class="btn-group">
                <a type="button" class="btn btn-primary btn-sm dropdown-toggle" href="static/uploads/{{document.doc_file}}">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </a>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
    </ul>


    </div>
</div>
{% elif not request.user.is_authenticated %}
<div class="container">
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
			<br><br><br>
			<h1 class="title">
Hello anonymous. Subscribe to our website and take advantage of the features.
			</h1>
		</div>
	</div>	
</div>

{% endif %}
{% endblock %}