{% extends "base.html" %}
{% block index %}


{% if request.user.is_authenticated %}
<div class="container" style="margin-top: 70px;">

<div class="hidden-xs col-sm-3">
        <div class="fading-side-menu" data-spy="affix" data-offset-top="350">
            <h5>Table of Contents</h5><hr class="no-margin">
            <ul class="list-unstyled">
                <li>
                    <a href="#intro">
                        <span class="fa fa-angle-double-right text-primary"></span>Introduction
                    </a>
                </li>
                <li>
                    <a href="#getting-started">
                        <span class="fa fa-angle-double-right text-primary"></span>Getting started
                    </a>
                </li>
                <li>
                    <a href="#setting-up-our-page">
                        <span class="fa fa-angle-double-right text-primary"></span>Setting up our page
                    </a>
                </li>
                <li>
                    <a href="#conclusion">
                        <span class="fa fa-angle-double-right text-primary"></span>Conclusion
                    </a>
                </li>
            </ul>
        </div>
    </div>
	<div class="col-sm-9" >



    <ul class="timeline">
    {% for document in AllDocument %}
<!--         <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li> 
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>-->
        {% if document.send_Department.department_Members == request.user %}

        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{document.name}}</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{document.createtime}} By:{{document.user}}</small></p>
            </div>
            <div class="timeline-body">
              <p>{{document.description}}</p>
              <hr>
              <div class="btn-group">
                <a type="button" class="btn btn-primary btn-sm dropdown-toggle" href="static/uploads/{{document.doc_file}}">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </a>
              </div>
            </div>
          </div>
        </li>
        {%endif%}
        {% endfor %}
    </ul>


    </div>
</div>
{% elif not request.user.is_authenticated %}
<div class="container">
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
			<br><br><br>
			<h1 class="title">
Hello anonymous. Subscribe to our website and take advantage of the features.
			</h1>
		</div>
	</div>	
</div>

{% endif %}
{% endblock %}